main{
	display:flex;
	justify-content: center;
	align-items : center;
	height:100%;
	width:100%;
	overflow:hidden;
	color:white;
}

.potrait{
	height: 100%
}

.landscape{
	width:100%;
}

.control {
	position:fixed;
	bottom:20px;
	right:0;
	left:0;
	opacity: 0.7;
	transition : 0.3s all ease-in;
}

.control:hover{
	opacity:1;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width:100%;
	overflow:hidden;
}

.left,.right {
	background-color: rgba(240,240,240,0.5); 
	position:absolute;
	left:0;
	top:0;
	width:40px;
	height:90px;
	z-index:1;
}

.leftmost{
	position:absolute;
	left:0;
	height:100%;
	width:30%;
}

.rightmost{
	position:absolute;
	right:0;
	height:100%;
	width:30%;
}

.right{
	right:0;
	left:auto;
}

.left img, .right img{
	position: absolute;
	left:0;
	top: 25px;
	width:100%;
}

.right img{
	right:0;
	left:auto;
}

.slider{
	position: relative;
	background : rgba(0,0,0,0.8);
	z-index:0;
	transition: all 0.05s linear;
	left:0;
}

.select{
	position:relative;
	height:90px;
	list-style: none;
	font-size: 0px;
}

.select>li{
	display : inline-block;
	text-decoration : none;
	width : 136px;
	height : 100%;
	padding : 8px 7px 8px 7px;
}

.select>li>img {
	height:100%;
	width: 100%;
	border-radius: 20%;
}

.normal{
	box-sizing:border-box;
	border-radius: 0% !important;
	border:4px solid white;
	transition: all 0.3s linear;
}

.select>li>img:hover{
	cursor:pointer;
}


.box{
	position:absolute;
	bottom:110px;
	display:flex;
	flex-direction:column;
	align-items:center;
	width:400px;
	background:rgba(0,0,0,0.8);
	height:180px;
	border-top-left-radius: 5%;
	border-top-right-radius: 5%;
	display:none;
}


/*POP-UP ROTATE*/
.popup {
  display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
}
.popup-overlay {
    background: rgba(0,0,0,0.9);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.popup-content {
    position: absolute;
 // background: #fff;
    width: 1045px;
    margin: -58px 0 0 -264px;
    left: 30%;
    top: 10%;
    z-index: 11;
  padding: 14px;
  max-height:600px;
}
.close-popup {
  display: inline-block;
  position: absolute;
  top: -8px;
  right: -30px;
  font-size: 42px;
}

.rotateIn {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotateIn .5s both ease-out;
    -moz-animation: rotateIn .5s both ease-out;
    animation: rotateIn .5s both ease-out;
}
@-webkit-keyframes rotateIn {
    from { -webkit-transform: translateZ(-3000px) rotateZ(-360deg); opacity: 0;}
}
@-moz-keyframes rotateIn {
    from {-moz-transform: translateZ(-3000px) rotateZ(-360deg);opacity: 0;}
}
@keyframes rotateIn {
    from {transform: translateZ(-3000px) rotateZ(-360deg);opacity: 0;}
}

.rotateOut {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-animation: rotateOut .5s both ease-in;
    -moz-animation: rotateOut .5s both ease-in;
    animation: rotateOut .5s both ease-in;
}
@-webkit-keyframes rotateOut {
    to {-webkit-transform: translateZ(-3000px) rotateZ(360deg);opacity: 0;}
}
@-moz-keyframes rotateOut {
    to {-moz-transform: translateZ(-3000px) rotateZ(360deg);opacity: 0;}
}
@keyframes rotateOut {
    to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0;}
}
/**/
